.modal-backdrop,
.modal-backdrop-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
}

.modal-backdrop-bg {
	transition: opacity 300ms ease-in-out;
	background-color: #000;
	pointer-events: none;
}

.modal-backdrop-bg {
	opacity: 0.5;
}

.modal {
	width: 50%;
	margin: auto;
	background-color: #414042;
	border-radius: 10px;
	box-shadow: 5px 5px 8px #414042;
	height: 50%;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.modal-header {
	background: #404040;
	color: #ddd;
	padding: 5px;
	display: flex;
	justify-content: right;
	position: relative;
	height: 50px;
}

.modal-header .title {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 17px;
	line-height: 44px;
}

.modal-header button {
	font-weight: bolder;
	margin-right: 2%;
	border-color: transparent;
	background: none;
	box-shadow: none;
	color: #ddd;
	font-size: 17px;
	padding-right: 2px;
	padding-left: 2px;
	line-height: 32px;
}

.modal-content .card .item .list .button {
	background: #414042;
	padding: 1%;
	color: #fcfcfc;
	max-width: 35%;
	margin: auto;
	font-size: 24px;
	border-radius: 10px;
}

.modal-content .card .item .list .button:hover {
	background: none;
	color: #414042;
	box-shadow: 5px 5px 8px #414042;
}

.modal-content .card .item .list .button {
	background: #414042;
	padding: 1%;
	color: #fcfcfc;
	max-width: 35%;
	width: 100%;
	margin: auto;
	font-size: 24px;
	border-radius: 10px;
}

.modal-content .card .item .list .button:hover {
	background: none;
	color: #414042;
	box-shadow: 5px 5px 8px #414042;
}

.card {
	overflow: hidden;
	margin: 20px 10px;
	border-radius: 2px;
	background-color: #fff;
}

.card {
	padding-top: 1px;
	padding-bottom: 1px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.card .item {
	border-left: 0;
	border-right: 0;
}
.card .item:first-child {
	border-top: 0;
}
.card .item:last-child {
	border-bottom: 0;
}

.list h2 {
	background: #000;
	color: #fff;
	padding: 10px;
}

.list label {
	display: block;
}

.list button {
	display: block;
	font-family: '-apple-system', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
}

.list input,
.list input:focus-visible {
	border: 0;
	outline: 0;
	font-size: 16px;
	font-weight: normal;
	font-family: '-apple-system', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	line-height: 1.2;
}
.card .item {
	padding: 16px;
}

.item p {
	color: #666;
	font-size: 14px;
	margin-bottom: 2px;
}

.item h2 {
	margin: 0 0 2px 0;
	font-size: 16px;
	font-weight: normal;
	font-family: '-apple-system', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	line-height: 1.2;
}

.input-label {
	display: table;
	padding: 7px 10px 7px 0px;
	max-width: 200px;
	width: 35%;
	color: #444;
	font-size: 16px;
}
